.Search{

}
.srchTxt{
    line-height: 1.5;
    padding: .375rem .75rem;
    border: 1px solid #007bff;
    margin-left: -4px;
    border-top-right-radius: .8rem;
    border-bottom-right-radius: .8rem;
    background: #fff;
}
.btn {
    margin-left: -10px;
    position: relative;
    z-index: -2;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}